@using Microsoft.AspNetCore.Http  
@inject IHttpContextAccessor HttpContextAccessor  

@{  
   ViewData["Title"] = "Dashboard";   
}  

<!DOCTYPE html>  
<html lang="en">  
    <head>  
       <meta charset="UTF-8">  
       <meta name="viewport" content="width=device-width, initial-scale=1.0">  
       <title>@ViewData["Title"]</title>  
   
    </head>  
    <body>  
      
        <div class="container">  
           <div style="display: flex; align-items: center;">  
               <h5 style="margin: 15px;">Dashboard</h5>  
               <input type="text" placeholder="Search..." style="width: 70%; padding: 10px; border-radius:30px; border: 1px solid #ccc; display: block; margin: 0 auto;">  
              </div> 
                <div class="row" style="border:none">
                    <div class="col-md-4 p-3">

                        <div class="row" style="white-space:nowrap">
                            <div class="col-sm-4 d-grid">
                                <a class="btn btn-outline-dark btn-sm mb-3 p-4 d-grid" asp-controller="Products" asp-action="Products" role="button">
                                    Products
                                </a>
                            </div>

                            <div class="col-sm-4 d-grid">
                                <a class="btn btn-outline-dark btn-sm mb-3 p-4 d-grid" asp-controller="Customers" asp-action="Customers" role="button">
                                    Customers
                                </a>
                            </div>

                            <div class="col-sm-4 d-grid">
                                <a class="btn btn-outline-dark btn-sm mb-3 p-4 d-grid" asp-area="" asp-page="/Customers/Customers" role="button">
                                    Sales Report (Not yet Working)
                                </a>
                            </div>
                            
                        </div>
                    </div>
           </div>  

        </div>  

    </body>  
</html>
