@model CustomersDto
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Customer Details</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["CustomerId"]">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Firstname</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Firstname">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Lastname</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Lastname">
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <!--For Address-->
            <div class="row mb-3">
                <label asp-for="StreetAddress" class="col-sm-2 col-form-label">Street Address</label>
                <div class="col-sm-10">
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="City" class="col-sm-2 col-form-label">City</label>
                <div class="col-sm-4">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <label asp-for="Province" class="col-sm-2 col-form-label">Province</label>
                <div class="col-sm-4">
                    <input asp-for="Province" class="form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="PostalCode" class="col-sm-2 col-form-label">Postal Code</label>
                <div class="col-sm-4">
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <label asp-for="Country" class="col-sm-2 col-form-label">Country</label>
                <div class="col-sm-4">
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>
            <!--/For Address-->

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Company</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Company">
                    <span asp-validation-for="Company" class="text-danger"></span> 
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Notes</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Notes"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>

            <!--modified v31-->
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input asp-for="MarketingConsent" class="form-check-input" type="checkbox" />
                        <label asp-for="MarketingConsent" class="form-check-label">
                            I consent to receive marketing communications
                        </label>
                    </div>
                </div>
            </div>

            @if (Model.IsLoyaltyMember == true)
            {
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Loyalty Points</label>
                    <div class="col-sm-10">
                        <input class="form-control-plaintext" readonly value="@Model.LoyaltyPoints">
                    </div>
                </div>
            }
            else
            {
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <form asp-action="EnrollInLoyalty" asp-route-id="@Model.Id" method="post">
                            <button type="submit" class="btn btn-success">Enroll in Loyalty Program</button>
                        </form>
                    </div>
                </div>
            }
            <!--/v31-->

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Created At</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["CreatedAt"]">
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-2 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-dark" asp-controller="Customers" asp-action="Customers" role="button">
                        Cancel
                    </a>

                </div>

            </div>

        </form>

    </div>

</div>